#ship-placement-dialog::backdrop {
  background: radial-gradient(circle at 50% 50%, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913); /* made at https://learnui.design/tools/gradient-generator.html */
}

/* #ship-placement-dialog {
  border: none;

} */

.main-section {
  display: flex;
  gap: 5rem;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #971414;
  box-sizing: border-box;
}

.cell.ship {
  background-color: darksalmon;
}

.cell.hit-ship {
  background-color: red;
}

.cell.miss {
  background-color: blue;
}

.dialog-container {
  display: flex;
  gap: 3rem;
}

.ships-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 30vw; 
}

.carrier-container {
  height: 2.5rem;
  width: 12.5rem;
  background-color: aqua;
}

.battleship-container {
  height: 2.5rem;
  width: 10rem;
  background-color: aqua;
}

.cruiser-container,
.submarine-container {
  height: 2.5rem;
  width: 7.5rem;
  background-color: aqua;
}

.destroyer-container {
  height: 2.5rem;
  width: 5rem;
  background-color: aqua;
}
